.tarefa{
    background-color: rgb(94, 3, 199);
    width: 332px;
    border-radius: 12px;
    box-shadow: 3px 2px 5px black;
    margin-left: 10px;
    font-size: 18px;
}

.titulo h3{
    padding: 3px;
    color: black;
    background-color: rgb(239, 228, 252);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.descricao h4{
    color: azure;
    padding-bottom: 12px;
}

.opcoes{
    display: flex;
    justify-content: center;
}

.excluir{
    font-size: 22px;
    color: azure;
    background-color: rgb(170, 25, 25);
    border: none;
    margin: 0 10px 10px 10px;
    border-radius: 15px;
    padding: 6px 6px 1px 6px;
    cursor: pointer;
}

.excluir:hover{
    background-color: rgb(223, 33, 33);
}

.seta{
    font-size: 22px;
    color: azure;
    background-color: rgb(23, 107, 27);
    border: none;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 6px 6px 1px 6px;
    cursor: pointer;
}

.seta:hover{
    background-color: rgb(34, 158, 40);
}

.setaBloqueada{
    font-size: 22px;
    color: rgb(235, 235, 235);
    background-color: rgb(170, 170, 170);
    border: none;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 6px 6px 1px 6px;
}

@media (max-width: 480px){
    .tarefa{
        width: 200px;
        margin: 0;
    }
}